:root {
  --gray: rgb(52, 53, 65);
  --blue: rgb(30, 132, 180);
  --white: #fff;
  --modal: rgb(229, 216, 190);
  --text: rgb(93, 94, 99);
  --light: rgb(205, 207, 216);
  --black: rgb(0, 0, 0);
  --red: rgb(255, 0, 0);
}

*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  letter-spacing: .03em;
  font-weight: bold;
  user-select: none;
}

a {
  text-decoration: none;
  color: var(--blue);
}
