$primary-bg: rgb(0, 128, 128);
$second-bg: rgb(105, 105, 109);
$textarea-bg: rgb(245, 222, 179);
$hover-bg: rgb(174, 174, 182);
$primary-bg-complement: rgb(255, 127, 127);
$red: rgb(255, 0, 0);
$yellow: rgb(255, 255, 0);
$button-after-bg: rgb(75, 73, 73);
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
