* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
}
/* ------------------------------------------------------------ */
.down-btn {
    width: 3%;
    margin: 0 auto;
    position: relative;
    top: -2em;
}
.head {
    font-size: 3em;
    font-weight: bold;
    color: #414042;
    position: relative;
    top: 1.5em;
}
/* ------------------------------------------------------------ */
#box-1 {
    background-color: #CF304C;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100vh;
}
#box-1-in-1 {
    position: relative;
    top: 20vh;
    width: auto;
    height: auto;
}
#box-1-in-1 img {
    display: block;
    width: 60%;
    margin: auto;
}
#box-1-in-2 {
    margin: auto;
    width: 50vw;
    height: 5vh;
    color: white !important;
    font-size: 1.6em;
    text-align: center;
}
/* ------------------------------------------------------------ */
#box-2, #box-3, #box-4 {
    background-color: #D2D3D9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    width: 100%;
    height: 100vh;
}
#box-2-in-1, #box-3-in-1, #box-4-in-1  {
    margin: auto;
    width: 30%;
}
#box-2-in-2, #box-3-in-2, #box-4-in-2 {
    margin: auto;
    width: 40vw;
    height: 7vh;
    font-size: 1.6em;
    text-align: center;
    color: #414042;
}
/* ------------------------------------------------------------ */
#box-5 {
    background-color: rgb(200,200,200);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100vh;
}
#box-5-items, #box-6-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    width: 100%;
}
#box-5-items > div {
    background-color: #D9435E;
    width: 10em;
    height: 9em;
    
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;

    font-size: 1.5em;
    font-weight: bold;
    color: #414042;
    cursor: pointer;
    text-align: center;
}
#box-5-items p {
    position: relative;
    top: 10em;
}
#box-5-item-1 {
    background-image: url("../images/web-dev.png");
}
#box-5-item-2 {
    background-image: url("../images/design.png");
}
#box-5-item-3 {
    background-image: url("../images/branding.png");
}
#box-5-item-4 {
    background-image: url("../images/ux-research.png");
}
/* ------------------------------------------------------------ */
#box-6, #box-7, #box-8 {
    background-color: #D2D3D9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100vh;
    position: relative;
}
#box-6-items > div {
    cursor: pointer;
}
#box-6-items img {
    width: 65%;
}
/* ------------------------------------------------------------ */
#box-7-in-1 {
    margin: auto;
    width: 90%;
    cursor: pointer;
}
#box-7 .head {
    top: 1em;
}
/* ------------------------------------------------------------ */
#box-8 .head {
    top: 0px;
}
#box-8-in-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 33%;
}
.box-8-text input, textarea, .box-8-btn {
    width: 100%;
    padding: 1em 1.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
    font-family: monospace;
    font-size: 1.6em;
    color: #555;
}
.box-8-text textarea {
    resize: none;
}
.box-8-btn {
    cursor: pointer;
    width: 100%;
    background-color: #CF304C;
    color: white;
}
/* ------------------------------------------------------------ */
#footer {
    margin-top: 5vh;
    text-align: center;
    color: #414042;
    font-size: 1.6em;
    font-weight: bold;
}
/* ------------------------------------------------------------ */
@media (max-width: 769px) {
    .down-btn { width: 7%; position: relative; top: -1em; }

    #box-2-in-1, #box-3-in-1, #box-4-in-1 {
        margin: auto; width: 75%; }
    
    #box-3-in-2 { margin: 2em; }

    #box-5 { height: auto; }
    #box-5 .head { top: .5em ; margin-bottom: 1em;}
    #box-5-items { flex-wrap: wrap; }
    .box-5-item { width: 50%; margin: 2em; }
    #box-5 .down-btn { 
        position: relative;
        top: 1em;
        margin: 5em auto;
    }

    #box-6-items {
        width: 90%;
        display: flex;
        justify-content: space-around;
    }
    #box-6-items .box-6-item-2, .box-6-item-4 { display: none; }   
    #box-6 .head { top: 2em; }

    #box-8-in-1 { width: 75%; font-size: .8em;}
}
/* ------------------------------------------------------------ */
@media (max-width: 500px) {
    .down-btn { width: 10%; top: -5em; }
    
    #box-1-in-2 { width: 75%; }

    #box-2-in-1, #box-3-in-1, #box-4-in-1 {
        margin: auto; width: 75%; }

    #box-2-in-2, #box-3-in-2, #box-4-in-2 {
        position: relative; top: -3em; width: 70vw; }

    #box-5 { height: auto;}
    #box-5 .head { top: .5em; }
    #box-5-items { width: 50%; }
    #box-5-items > div { width: 50vw; height: 7em; }
    #box-5-items p { position: relative; top: 8em; }
    #box-5 > .down-btn {
        position: relative;
        top: 1em;
        margin: 5em auto;
    }

    #box-6-items {
        width: 90%;
        display: flex;
        justify-content: space-around;
    }
    #box-6-items .box-6-item-2, .box-6-item-4 { display: none; }   
    #box-6 .head, #box-7 .head { top: 2em; }
    
    #box-8-in-1 { width: 75%; font-size: .8em; }
}
