@media (max-width: 844px) {
/* HEADER */
.navbar {
    display: none;
}
.bar-menu {
    display: flex;
}

/* SECTION-1 */
.section-1 {
    font-size: smaller;
}
.sec-1-item {
    width: 100%;
    margin: 0 auto;
    height: auto;
}
.text-area {
    font-size: .75em;
}
.sec-1-grid-container-1 {
    grid-template-columns: 1fr;
    grid-template-areas:
    "image"
    "text-area";
    gap: 0;
}
.sec-1-grid-container-2 {
    grid-template-areas:
    "art-1"
    "art-2"
    "art-3"
    "art-4";
}
.sec-1-h2 {
    margin-left: 5vw;
}

/* SECTION-2 */
.section-2 {
    font-size: smaller;
}
.sec-2-head {
    margin: 2vh 5vw;
    font-size: .9em;
}
.sec-2-head p {
    width: 100%;
}
.sec-2-grid-container {
    grid-template-columns: 1fr;
    grid-template-areas:
    "2-box-1"
    "2-box-2"
    "2-box-3";
}
.sec-2-item {
    border-radius: 1em;
    border: 1px solid wheat;
    height: 90%;

    flex-direction: row;
}
.sec-2-item div {
    width: 50%;
}

/* SECTION-3 */
.section-3 {
    font-size: smaller;
}
.section-3-grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "3-box-1 3-box-2"
    "3-box-3 3-box-4";
}

/* SECTION-4 */
.section-4 {
    font-size: smaller;
}
.sec-4-head {
    margin: 2vh 5vw;
    font-size: .9em;
}
.sec-4-head p {
    width: 100%;
}
.sec-4-grid-container {
    grid-template-columns: 1fr;
    grid-template-areas:
    "sec-4-box-1"
    "sec-4-box-2"
    "sec-4-box-3"
}
.sec-4-item {
    border-radius: 1em;
    border: 1px solid wheat;
    height: 90%;
    flex-direction: row;
}
.sec-4-item div {
    width: 50%;
}

/* SECTION-5 */
.section-5 {
    font-size: smaller;
}
.sec-5-head {
    margin: 2vh 5vw;
    font-size: 1em;
}
.sec-5-grid-container {
    grid-template-columns: 1fr;
    grid-template-areas:
    "sec-5-box-1"
    "sec-5-box-2"
    "sec-5-box-3"
    "sec-5-box-4"
    "sec-5-box-5"
    "sec-5-box-6"
    "sec-5-box-7"
    "sec-5-box-8"
    "sec-5-box-9"
    "sec-5-box-10"
    "sec-5-box-11"
    "sec-5-box-12";
}
.sec-5-item {
    border-radius: 1em;
    border: 1px solid wheat;
    height: 90%;
    flex-direction: row;
}
.sec-5-item div {
    width: 50%;
}

/* FOOTER */
footer {
    font-size: .8em;
}
}
