* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

.color-sky {
    color: skyblue;
}

#nav-bar {
    display: flex;
    width: 100%;
    height: 7vw;
}

.section-1 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    width: 50%;
    margin-left: 50px;
}

.nav-items {
    width: 30%;
    display: flex;
    justify-content: space-around;
    margin-right: 25px;
}

.items {
    display: flex;
    position: relative;
    float: right;
    background-color: white;
    text-align: center;
    font-weight: bold;
    align-items: center;
}

.join {
    border: 2px lightblue solid;
    background-color: white;
    padding: 15px 50px 15px 50px;
}

.section-2 {
    position: relative;
    width: 100%;
    height: 30vw;
    background: url("images/hero.jpg") no-repeat center;
    background-size: cover;
    text-align: center;
    color: white;
    line-height: 1.5vw;
}

.section-3 {
    background-color: rgb(240, 240, 240);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.alt-sec-1 {
    margin: 30px;
    margin-right: 10%;
    border-radius: 10px;
    font-size: 24px;
    color: white;
    background: #3498db;
    cursor: pointer;
    padding: 25px;
}

.section-heads {
    padding: 15px;
    padding-bottom: 35px;
    font-size: 2vw;
    text-align: center;
    color: rgb(60, 60, 60);
}

.our-members {
    height: 1em;
}

.section-4 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 20em;
}

.sec-imgs {
    line-height: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: gray;
    margin: 10px;
    align-items: center;
    text-align: center;
    width: 32%;
    height: 15em;
}

.sec-imgs-2 {
    line-height: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: gray;
    margin: 10px;
    align-items: center;
    text-align: center;
    width: 26%;
    height: 17em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sec-imgs img {
    width: 60%;
}

.groups {
    background-color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3em;
    border: 2px skyblue solid;
    width: 13em;
    color: skyblue;
    font-weight: bold;
    margin: 10px;
}

.sec-img-style {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px;
    align-items: center;
    text-align: center;
    width: 100%;
}

.block {
    background-color: white;
}

.section-5-field {
    height: 15vw;
}

.section-5 {
    position: relative;
    width: 90%;
    height: 25vw;
    background-color: white;
    margin: auto;
    z-index: 2;
}

.empty-div {
    position: relative;
    width: 100%;
    height: 10vw;
    z-index: 1;
    background-color: darkgrey;
}

.social {
    padding: 50px;
    width: 80%;
    margin: auto;
    background-color: rgb(50, 50, 50);
    color: white;
    text-align: center;
    border-bottom: 0.05vw rgba(250,250,250,0.3) groove;
}

.social a, .footer span {
    color: skyblue;
}

.fa {
    margin-left: 2vw;
    font-size: 1.5vw;
}

.fa:hover, footer span {
    cursor: pointer;
}

.footer {
    padding: 50px;
    background-color: rgb(50, 50, 50);
    color: white;
    text-align: center;
}
