.grid-container {
  width: 60%;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(3, 12vw);
  grid-template-rows: repeat(2, 12vw);
  gap: 15px;
  justify-content: center;
}

.box {
  border-radius: 50%;
  transition: all 0.2s linear;

  &:hover {
    transform: scale(115%);
  }

  & div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1em;
    transition: all 0.3s;

    & span {
      color: transparent;
      transition: all 0.3s;
      z-index: -1;
      font-size: 2vw;
    }

    &:hover span {
      color: var(--white);
      text-shadow: var(--black) -1px -1px 0.2vw, var(--black) 1px 1px 0.2vw;
      transition: all 0.3s;
    }
  }
}
